language: php

php:
  - 7.2
  - 7.3

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

script:
  - vendor/bin/phpunit
  - sonar-scanner -Dsonar.projectKey=rogervila_laravel-sqlite-foreign-keys-support -Dsonar.sources=. -Dsonar.exclusions='vendor/**, tests/**' -Dsonar.php.tests.reportPath=junit-logfile.xml -Dsonar.php.coverage.reportPaths=clover.xml

addons:
  sonarcloud:
    organization: "rogervila-github"
    token:
      secure: "UDHdGtgcfxwBvyx9iMG3g7LCQxXTHDM80bfb1VQD7yOxh1sRoTCMJO+K8aH7nfvjwH7l0TZIeIBwYQ1cbcsnyIxiVo+XHrT0EkAyXvjWbQwpYjEU0mlQl8yvZXkS3KRF9PthDv3wtLnX132MaDVCdeZXP1AFGpShXSxpVxNByQ5DTLBmtOyeJXo5qeN5g6QpSN5BpbBGQPnp0vuj8D1OMt9ak5l8lbgDhJw3DxqZJMSi/a7ruzoVp2DqZJ3y4PqV9KoicNSCy9y8vsyVdHkKTf/rKlZqwZN3/o6ZtCMDERATmYKv8W/Ej2lUd1jcELz8ehINXf6bMp42C6z2PGb3Rptpf8XEUS081RvGmVMMpmnY+yoPao8dKzKxrLnwpKgxix+1Qkf7Zey5pJXAGNcBoXUa4TgIdonnq6Mv/q2jiYJtocwc6Q7t2YKuvfYKcoaO9/BwwbA4JtDyIjwtjR74uvwj/1juZ0u3kmyq0+pUpWqJ3rkDdV/ZNLLROQB1K46ATxcNDtz79ppdT/5T750H95GZ6JTSsE+sTES8uoLyNhBmBYkWFZBfNBCXppjs0wCRONcIQTMcSWsYuWKJ//uMsnibIOuaDmCoaNFvQN+Sq+3B4/OreQ5fyd6/tdUcjV1jdT4DXmqAZUDyzpPlck7wQt1tjCqu4WkWoMZHTcaXANk="
